<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/site-head') %>
    <title><%= title %> - Startseite</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="card">
            <h2>Willkommen bei <%= title %></h2>
            <h3>Infotool zur Uni-Wahl 2025</h3>

            <section>
                <a class="link-block" href="/omat">Los geht's</a>
            </section>
        </div>
        <div class="card">
          <h3>Wahlinterviews</h3>
          Die Wahlinterviews mit den StuPa Listen sind jetzt verfügbar auf der StuVe Website!

          <section>
            <a class="link-block" href="https://www.stuve.uni-konstanz.de/aktuelles/uniwahlen-2025/wahlvideos-stupa-2025/" target="_blank">Zu den Wahlinterviews</a>
          </section>
        </div>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>
