<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/site-head') %>
    <title><%= title %> - Resultat</title>
    <link rel="stylesheet" href="/filehost/css/qacard.css">
    <link rel="stylesheet" href="/filehost/css/omat-result.css">

    <script>
        const answers = <%- JSON.stringify(answers) %>;
        const weights = <%- JSON.stringify(weights) %>;
    </script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="card">
            <div class="card-header">
                <div>
                    <h1 class="card-header-title">Dein "<%= title %>"-Ergebnis</h1>
                    <p class="card-description">Klicke auf die Parteien, um mehr über ihre Positionen zu erfahren.</p>
                </div>
                <div class="card-header-buttons">
                    <!-- Share Button -->
                    <!-- <button class="card-header-button share-button" disabled>
                        <img src="/filehost/icons/download-solid.svg" alt="Herunterladen">
                    </button> -->
                </div>
            </div>

            <div id="result">
                <%- include('partials/result') %>
            </div>
        </div>
        <div id="card-clone"></div>
    </main>
    <%- include('partials/footer') %>

    <script src="/filehost/js/omat-result-logic.js"></script>
</body>
</html>
