<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/site-head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/filehost/css/qacard.css">

    <script>
        const theses = <%- JSON.stringify(theses) %> ? <%- JSON.stringify(theses) %> : [];
        const answers = <%- JSON.stringify(answers) %> ? <%- JSON.stringify(answers) %> : [];
        let thesisCursor = <%- JSON.stringify(current) %> ? <%- JSON.stringify(current) %> : 0;

        if (theses.length === 0) {
            window.location.href = "/";
        }
    </script>
</head>
<body>
    <%- include('partials/header') %>
    <main class="center-content">
        <div class="qa-sideflex">
            <section class="qa-sidebar">
                <h4>Alle Thesen</h5>
                <ul class="qa-theses">
                    <% for (let i = 0; i < theses.length; i++) { %>
                        <% if (i == 0) { %>
                            <li><button id="<%= "thesis-link-" + i %>" class="qa-thesis inactive" onclick="setThesisCursor(<%= i %>)">These <%= i + 1 %></button></li>
                        <% } else { %>
                            <li><button id="<%= "thesis-link-" + i %>" class="qa-thesis" onclick="setThesisCursor(<%= i %>)">These <%= i + 1 %></button></li>
                        <% } %>
                    <% } %>
                </ul>
            </section>
            <div class="qa-card">
                <% for( let i = 0; i < theses.length; i++ ) { %>
                    <% if (i === 0) { %>
                        <h2 id="<%= "thesis-title-" + i %>"><%= i + 1 %>/<%= theses.length %> - <%= theses[i].title %></h2>
                        <p id="<%= "thesis-description-" + i %>"><%= theses[i].description %></p>
                    <% } else { %>
                        <h2 id="<%= "thesis-title-" + i %>" class="inactive"><%= i + 1 %>/<%= theses.length %> - <%= theses[i].title %></h2>
                        <p id="<%= "thesis-description-" + i %>" class="inactive"><%= theses[i].description %></p>
                    <% } %>
                <% } %>
                
                <small>Wähle eine Antwortmöglichkeit aus:</small>
                
                <div class="qa-answers">
                    <button onclick="answer(1)" class="qa-answer-btn <% if (answers[0] == 1) { %>
                        selected
                    <% } %>" id="positive">Stimme zu</button>
                    <button onclick="answer(0)" class="qa-answer-btn <% if (answers[0] == 0) { %>
                        selected
                    <% } %>" id="neutral">Neutral</button>
                    <button onclick="answer(-1)" class="qa-answer-btn <% if (answers[0] == -1) { %>
                        selected
                    <% } %>" id="negative">Stimme nicht zu</button>
                </div>
                <button class="link-block" onclick="answer(null)">These überspringen</a>
            </div>
        </div>
    </main>
</body>
<script src="/filehost/js/omat-logic.js"></script>
</html>