<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/site-head') %>
    <title><%= title %> Resultat</title>
    <link rel="stylesheet" href="/filehost/css/qacard.css">
    <link rel="stylesheet" href="/filehost/css/omat-result.css">

    <script>
        const appAnswers = <%- JSON.stringify(answers) %>;
        const appWeights = <%- JSON.stringify(weights) %>;
    </script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="card">
            <h1>Dein <%= title %>-Ergebnis</h1>
            Klicke auf die Parteien, um mehr über ihre Positionen zu erfahren.

            <div id="result">
                <!-- Filled by script -->
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
<script src="/filehost/js/omat-result-logic.js"></script>
</html>
