<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/site-head') %>
    <title>Wahl-O-Mat Resultat</title>
    <link rel="stylesheet" href="/filehost/css/qacard.css">

    <script>
        const appAnswers = <%- JSON.stringify(answers) %>;
        const appWeights = <%- JSON.stringify(weights) %>;
    </script>
    <script src="/filehost/js/omat-result-logic.js"></script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Auswertung</h1>
        <p>Hier wird die finale Auswertung abgebildet sein.</p>

        <div id="output"></div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
