<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/site-head') %>
    <title><%= title %> - Resultat</title>
    <link rel="stylesheet" href="/filehost/css/qacard.css">
    <link rel="stylesheet" href="/filehost/css/omat-result.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title">Dein "<%= title %>"-Ergebnis</h1>

                <div class="card-header-buttons">
                    <!-- Share Button -->
                    <button class="card-header-button share-button" onclick="share()">
                        <img src="/filehost/img/share.svg" alt="Teilen">
                    </button>
                </div>
            </div>
            <p class="card-description">Klicke auf die Parteien, um mehr über ihre Positionen zu erfahren.</p>

            <div id="result">
                <%- include('partials/result') %>
            </div>
        </div>
        <div id="card-clone"></div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
