<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/site-head') %>
    <title><%= title %> - Resultat</title>
    <link rel="stylesheet" href="/filehost/css/qacard.css">
    <link rel="stylesheet" href="/filehost/css/omat-result.css">

    <script>
        const answers = <%- JSON.stringify(answers) %>;
        const weights = <%- JSON.stringify(weights) %>;
    </script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="card">
            <div class="card-header">
                <div>
                    <h1 class="card-header-title">Dein "<%= title %>"-Ergebnis</h1>
                    <p class="card-description">Klicke auf die Parteien, um mehr über ihre Positionen zu erfahren.</p>
                </div>
                <div class="card-header-buttons">
                    <!-- Share Button -->
                    <!-- <button class="card-header-button share-button" disabled>
                        <img src="/filehost/icons/download-solid.svg" alt="Herunterladen">
                    </button> -->
                </div>
            </div>

            <div id="result">
                <%- include('partials/result') %>
            </div>
            
            <!--
            <br>

            <h2 class="card-subtitle">StuVe Wahlparty</h2>
            <p>
                Um euch den Uni-Wahlzeitraum (10.-13.06.24) zu versüßen, organisiert unser Referat für Kultur und Events eine Wahlparty in der @kantinekn! Am 12.06. ab 23:00 Uhr werden euch DJ BAVO @bavo93/@bavo_events und DJ Backspin @mxsteryourself mit feinstem Hiphop und heißen Afrobeats einheizen 🔥 🔥 

                Geht am 10.-13. Juni 2024 bei den Uniwahlen und der Urabstimmung 2024 wählen und am 12.06 feiern! 🤝🎉
            </p>

            <% if (showGiveaway) { %>
                <a class="link-block" href="/verlosung">An der Verlosung teilnehmen</a>
            <% } else { %>
                Nimm dir Zeit und fülle die Umfrage aus, um deine Partei zu finden und an der Verlosung teilzunehmen!

                <a class="link-block" href="/omat">Ich will auch!</a>
            <% } %>

            -->
        </div>
        <!-- <div class="card"> -->
        <!--   <h1>Wahlinterviews</h1> -->
        <!--   Die Wahlinterviews mit den StuPa Listen sind jetzt verfügbar auf der StuVe Website! -->
        <!---->
        <!--   <section> -->
        <!--     <a class="link-block" href="https://www.stuve.uni-konstanz.de/aktuelles/uniwahlen-2025/wahlvideos-stupa-2025/" target="_blank">Zu den Wahlinterviews</a> -->
        <!--   </section> -->
        <!-- </div> -->
    </main>
    <%- include('partials/footer') %>

    <script src="/filehost/js/omat-result-logic.js"></script>
</body>
</html>
