<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/site-head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/filehost/css/qacard.css">
    <% if (current === undefined || !Number.isInteger(current) || current < 0 || current >= answers.length) { current = 0; } %>

    <script>
        const answers = <%- JSON.stringify(answers) %> ? <%- JSON.stringify(answers) %> : [];
        let thesisCursor = <%- JSON.stringify(current) %> ? <%- JSON.stringify(current) %> : 0;
        let theses = [];
    </script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="qa-sideflex">
            <section class="qa-sidebar">
                <h4>Alle Thesen</h5>
                <ul class="qa-theses">
                    <!-- Filled by script -->
                </ul>
            </section>
            <section class="qa">
                <div class="card">
                    <div class="qa-grid">
                        <!-- Filled by script -->
                    </div>
                    
                    <small>Wähle eine Antwortmöglichkeit aus:</small>
                    
                    <div class="qa-answers">
                        <button onclick="answer(0)" class="qa-answer-btn <% if (answers[current] == 0) { %>
                            selected
                        <% } %>" id="positive">Stimme zu</button>
                        <button onclick="answer(1)" class="qa-answer-btn <% if (answers[current] == 1) { %>
                            selected
                        <% } %>" id="neutral">Neutral</button>
                        <button onclick="answer(2)" class="qa-answer-btn <% if (answers[current] == 2) { %>
                            selected
                        <% } %>" id="negative">Stimme nicht zu</button>
                    </div>
                    <button class="link-block" onclick="answer(null)">These überspringen</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
<script src="/filehost/js/omat-logic.js"></script>
</html>
